* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.emptySpace {
    flex-grow: 1;
}

.container {
    @include defaultContainerRule;
}

.wrapper {
    @include basicWrapperRule;
}

.wrapVertical {
    flex-direction: column;
}

.wrapBasis {
    flex-basis: calc(100% / 2);
}

.wrapReverse {
    flex-direction: row-reverse;
}

.wrapCenterH {
    justify-content: center;
}

.wrapCenterV {
    align-items: center;
}

h3 {
    text-align: center;
}