.fourthSct {
    background-color: $newBgColor;
}

h2 {
    margin-bottom: ($myMargin * 3);
    img {
        width: 30px;
        height: 30px;
    }
}

.box {
    background-color: #FFFFFF;
    padding: $myPadding * 2;
    border: 1px solid $newTxtColor;
    border-radius: 10px;
    width: 65%;
        p {
            font-size: $captionsFontSize;
            margin: ($myMargin * 2) 0;
        }
}

.founderPhoto {
    display: flex;
        img {
            width: 40px;
            height: 40px;
            margin-right: ($myMargin * 2);
        }
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    line-height: 14px;
        .name {
            color: $newBtnColor;
        }
}

.btnBox {
    margin-top: ($myMargin * 5);
    text-align: center;
    button {
        display: inline-block;
        padding: ($myPadding / 2) $myPadding;
        background-color: $newBtnColor;
        color: #FFFFFF;
        border: none;
        border-radius: 5px;
        font-size: $captionsFontSize;
            img {
                vertical-align: middle;
            }
            span {
                vertical-align: middle;
            }
    }
    .email {
        line-height: 50px;
    }
}