$myPadding: 10px;
$myMargin: 5px;

/*
colori vecchi*/
$btnColor: #0E14EE;
$txtColor: #58402C;
$originalBgColor: #F6E2D5;
$hoverColor: #D7A43D;


/* colori nuovi */
$newBgColor: #0414B3;
$newTxtColor: #7F14D4;
$newBtnColor: #0E14EE;
$newHoverColor: #3E14E9;

/*font size*/
$captionsFontSize: 12px;